* {
  font-family: "Open Sans", "Lato";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* colors */
  --primary: #111;
  --button: #065fd4;
  --border: #757575;
  --secondary: #282828;
}

body {
  min-height: 100vh;
  background-color: var(--primary);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
